<body>
<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Quiz Test</h1>
    <p class="col-md-8 fs-4">Quiz Contains 10 Questions and each question carries one mark.<br>
      Total marks:10</p>
    <h4>Instructions:</h4>
    <ol>
        <li>
            Attempt All the questions.
        </li>
        <li>
            Ensure you have proper internet connection
        </li>
        <li>
            Use only laptop or desktop
        </li>
        <li>
            **Unmute yourself while writing the exam**
        </li>
        <li>
            **No talking**
        </li>
    </ol>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name*</label>
        <input #name type="text" class="form-control">

    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start the test</button>

</div>
</body>

<footer class="text-center text-lg-start bg-light text-muted">
   
    <section class="">
      <div class="container text-center text-md-start mt-5">
        
        <div class="row mt-3">
        
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>INSTRUCTIONS
            </h6>
            <p>
            -->CHECK THE WEBCAM AND MICROPHONE  <br>
      -->PREPARE WELL AND ATTEMPT<br>
    -->ALL THE BEST<br>
            </p>
          </div>
         
        
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>ONLINE EXAM PORTAL
              </h6>
              <p>
              -->WE ENGAGE THROUGH ONLINE<br>
            -->WE ENCOURAGE AND SUPPORT YOU<br>
          -->STAY SAFE AND HEALTHY
              </p>
            </div>
   
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i>N SAI PREETHAM </p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              sai.preetham0518@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> 9121333448</p>
            
          </div>
          
        </div>
       
      </div>
    </section>
   
    <div class="text-center p-4" style="background-color: rgba(92, 103, 164, 0.085)">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="">N SAI PREETHAM</a>
    </div>
   
  </footer>