<body>
    <div class="container">
        <div class ="my-custom-row">
            <h1 class="text-center" style="color: rgba(35, 86, 6, 0.726);"> YOUR TEST HAS BEEN COMPLETED</h1>
            <form>
                <h4 class="text-center" style="color: rgba(35, 86, 6, 0.726)">PLEASE PROVIDE YOUR FEEDBACK</h4>
                
            <textarea id="w3review" name="w3review" rows="14" cols="150">
    
             </textarea>
            </form>
            <h4 class="text-center" style="color: rgb(1, 7, 18);">Thanks for attempting the exam in our portal.Hope you liked it.<br>
        Wishing you all the best and good luck!!</h4>
        </div>
    </div>


    <div class="card">
        <button class="btn btn-primary" type="button" ><b>SUBMIT</b></button>
    
    </div>
</body>
